.card {
  border-radius: 20px;
  box-shadow: -2.58px 6.87px 20.62px 0px rgba(0, 0, 0, 0.23);
  background: linear-gradient(
    142.17deg,
    rgb(71, 28, 169) -1.144%,
    rgb(87, 54, 163) 59.141%,
    rgb(75, 42, 153) 86.102%
  );
  box-sizing: border-box;
  width: 380px;
  height: 460px;
  list-style: none;
}
.header {
  position: relative;
  padding: 28px 36px 15px 36px;
}
.logo {
  position: absolute;
  fill: rgba(255, 255, 255, 0.3);
  top: 20px;
  left: 20px;
}
.userContent {
  position: relative;
}
.strip {
  box-shadow: inset 0px 3.44px 2.58px 0px rgb(251, 248, 255),
    0px 3.44px 3.44px 0px rgba(0, 0, 0, 0.06),
    inset 0px -1.72px 3.44px 0px rgb(174, 123, 227);
  background: rgb(235, 216, 255);
  height: 8px;
  border: none;
  margin-bottom: 62px;
}
.user {
  box-shadow: inset 0px 4.39px 3.29px 0px rgb(251, 248, 255),
    0px 4.39px 4.39px 0px rgba(0, 0, 0, 0.06),
    inset 0px -2.2px 4.39px 0px rgb(174, 123, 227);
  background: rgb(235, 216, 255);
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  top: -36px;
  right: 150px;
}
.userImage {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  top: 9.42px;
  right: 8.52px;
  position: absolute;
}
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #ebd8ff;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.btn {
  background: rgb(235, 216, 255);
}
.following {
  background: #5cd3a8;
}
